<!DOCTYPE html>
<html>
  <head>
    <title>Huntertest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <div class="w-1/2 m-6">
      <% if notice %>
        <p class="text-green-500 notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="text-red-500 alert"><%= alert %>!</p>
      <% end %>
    </div>
  </body>
</html>
